@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../fonts/Segoe UI.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('../fonts/Segoe UI Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../fonts/Segoe UI Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('../fonts/Segoe UI Bold Italic.woff') format('woff');
    }

    body{
        
    font-family: 'Segoe UI';
    }
    .primary-color{
        color: #212529;
    }

    .header{
        padding: 15px 0px;
    }
    .logo-menu{
        display: flex;
        align-items: center;
    }
    .logo-menu .menu{
        font-size: 30px;
        margin-right: 25px;
    }
    .searchbox{
        border-radius: 35px;
        border: 1px solid #212529;
        width: 100%;
        height: 50px;
        padding: 0;
        text-indent: 35px;
        padding-right:70px;
    }
    .search-holder{
        position: relative;
    }
    .search-holder .icon{
        position: absolute;
        right: 22px;
        top: 2px;
        font-size:30px;
       color: #513838;
    }
    .main-menu{
        display: flex;
        justify-content: space-between;
        padding:0px 30px;
        border-top: 1px solid #212529;
        border-bottom: 1px solid #212529;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .main-menu li{
        border-right:1px solid #212529;
        font-size: 16px;
        display: block;
        width: 100%;
        padding: 15px 0px;
        text-align: center;
    }
    .main-menu li:last-child{
        border: 0;
    }
    .main-menu li a{
        color: #212529;
        text-decoration: none;
    }
    .border-right{
        border-right: 1px solid #212529;
        position: relative;
        left: 51px;
        height: 17cm;
    }
    .list-menu{
        display: block;
        margin: 0;
        padding: 0;
        position: relative;
        left: 60px;
    }
    .logout-section {
        position: relative;
        top: 15cm;
        right: 50px;
    }
    .list-menu li{
        display: block;
        font-size: 16px;
        padding: 8px 0px;
    }
    .list-menu li a{
        display: block;
        color: #212529;
        text-decoration: none;
    }
    .center-holder{
        padding-top: 15px;
        text-align: center;
    }
    .image-hodler{
        width: 250px;
        height: 250px;
        display: inline-block;
        border-radius: 50%;
        border: 1px solid #212529;
        overflow: hidden;
    }
    .card-panel{
        border: 1px solid #212529;
        padding: 15px;
        border-radius: 15px;
    }
    .input-box{
        border-radius: 35px;
        border: 1px solid #212529;
        width: 100%;
        height: 50px;
        padding: 0;
        text-indent: 35px;
    }
    .panel-holder{
        display: flex;
        align-items: center;
    }
    .panel-holder .label{
        margin-right: 15px;
        flex:0 0 20%;
    }
    .panel-holder .input{
        width: 100%;
    }
    .text-right{
        text-align: right;
    }
    .box-content{
        color: #1add00;
        font-size:20px;
        padding: 30px;
        border: 1px solid #212529;
    }
.text-center button {
    position: relative;
    top: 10px;
}

    .box-content big{
        font-size:80px;
        font-family: 'Segoe UI Bold';
    }
    .logout-section{
        position: absolute;
        left: 15px;
        bottom: 0;
    }
    .sidebar{
        position: relative;
        height: 100%;
    }
    @media(max-width:980px){
        .border-right{
            border: 0;
        }
    }
    .slideContainer {
        width: 75%;
        margin-top: 50px;
    }
    .slideContainer p {
        opacity: 0.7;
        margin-top: 50px;
        color: black;
    }
    .slideContainer p2 {
        opacity: 0.7;
        color: black;
    }
    .slider::after {
        content: '100';
        color: black;
        font-size: 1rem;
        position: absolute;
        left: 50vw;
        top:60vh;
    }
    .slider::before {
        content: '0';
        color: black;
        font-size: 1rem;
        position: absolute;
        left: 26vw;
        top:60vh;
    }
    .slider {
        -webkit-appearance: none;
        width: 24vw;
        height: 2vh;
        background: linear-gradient(90deg, rgb(214,214,214) 60%, rgb(214,214,214)60%);
        outline: none;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
        border-radius: 12px;
        box-shadow: 0px 1px 10px 1px black;
    }
    .slider:hover {
        opacity: 1;
    }
    .slider::-webkit-slider-thumb{
        -webkit-appearance: none;
        appearance: none;
        width: 2vw;
        height: 4vh;
        background: black ;
        border: solid rgb(214,214,214);
        border-radius: 50%;
        cursor: pointer;
    }

    
  
